body {
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;

}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 120px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Sigmar One', cursive;

}

h5 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 34px;
}

.text-center {
    text-align: center;
}

.top-area {
    color: #fff;
    background-color: rgb(163, 209, 240);
    background-image: url(images/top-area-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
}

.top-area p {
    text-shadow: 0px 0px 0px rgb(113, 135, 204),
                 0 0 0em rgb(132, 132, 230),
                 0 0 0.1em rgb(74, 74, 223);
}

.container {
    max-width: 1090px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.container--exceed {
    max-width: calc(1090px + 14px);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
}

.header a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    transition: border-color .2s ease, box-shadow .2s ease;
    border: 1px solid transparent;
    font-size: 12px;
}

.header a:hover {
    border-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 12px 2px rgba(255,255,255,0.8), 
                inset 0px 0px 10px 1px rgba(255,255,255,0.8);
}

.nav, .nav__left, .nav__right {
    display: flex;
    justify-content: flex-end;

}

.nav__right .lang, .nav__right a {
    color: #fff;
    font-size: 12px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    margin-left: 10px;
}

.nav__left a {
    margin-right: 10px;
}

.lang {
    background: transparent;
    padding: 10px;
    -webkit-appearance: none;
    line-height: 1;
    outline: none;
    width: 38px;
    position: relative;
    cursor: pointer;
}

.lang::after {
    content: 'pisun cobachiy';
    position: absolute;
    right: 0;
    top: 50%;
}

.lang:hover {
    border-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 12px 2px rgba(255,255,255,0.8), 
                inset 0px 0px 10px 1px rgba(255,255,255,0.8);
}

.lang option{
    color: #FFF;
    text-transform: uppercase;

}

.counter-section {
    display: flex;
    justify-content: center;

}

.counter-block {
    flex-grow: 1;
    text-align: center;
    margin: 50px 0;
}

.counter {
    color: #5d5b5b;
    font-size: 38px;
    font-weight: 700;
    margin: 25px 0 6px 0;;
}

.counter-type {
    font-size: 26px;
    color: #7c7a7a;
    font-weight: 100;
    
}

.with-border {
    position: relative;

}


.with-border::before, .with-border::after  {
    position: absolute;
    content: "";
    top: 0;
    width: 2px;
    background-color: #ccc;
    height: 119px;
    right: 0;

}

.with-border::before {
    left: 0;
    right: unset;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.image {
    position: relative;
    max-width: calc(33.3% - 14px);
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    margin: 8px 7px;
}

.image img {
    position: absolute;
    width: 100%;
}

.image p {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.about-us h5 {
    color: #5d5b5b;
}

.text p {
    color: #7c7a7a;
}

.about-us {
    margin-top: 95px;
    display: flex;
}

.image-comp {
    margin-left: 95px;
}

.button {
    background: rgb(243, 65, 213);
    border-radius: 5px;
    color: #FFF;
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    padding: 15px 22px;
}

.footer {
    color: #fff;
    background-color: #5d5b5b;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
}

.follow {
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
}


/*TODO: social icon must be a link */
.social-icons .icon {
    width: 13px;
    height: 13px;
    display: block;
}

.social-icons .icon img {
    display: block;
}
